.body-uni{
    margin-top: 10;
}
.owe-list-item {
    background-color: white;
}

.owe-list {
    margin: 15 15 15 15;
}

.owe-main-info {
    padding: 10 15;
}

.owe-category-icon {
    width: 70;
    height: 70;
    margin-right: 15;
}

.owe-info-container {
    color: #c0c0c0;
    font-weight: 300;
}

.owe-title {
    font-weight: 600;
    color: black;
}

.lender-name {
    font-size: 12em;
    font-weight: 500;
    margin-top: 20%;
}
.lender-bairro {
    font-size: 12em;

}
.lender-phone{
    font-size: 12em;
    margin-top: 20%;
}
.owe-ammount {
    color: black;
}

.time-information {
    margin: 0;
}

.owe-secondary-info {
    padding: 10 10 10 13;
    border-top-width: 1;
    border-color: #e8e7e7;
}

.divider {
    height: 15;
    background-color: #e8e7e7;
}

.location {
    font-size: 13em;
    background-color: white;
    border-color: white;
    padding: 0 10 0 10;
    margin: 0;
    /*color: darkred;*/
    color: #b72806;
}
.action-bar-per{
    color: white;
}
.go-back{
    color: white;
}


