<ActionBar title="Detalhes" class="action-bar-per background-color-padrao">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" class="go-back" [nsRouterLink]="['/localrisco']" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<FlexboxLayout class="page">
            <ScrollView scrollBarIndicatorVisible="false" class="form scrolview" orientation="vertical">
                <GridLayout rows="auto, auto, auto, auto, *">
                        <StackLayout row="1" colSpan="3" class="input-field m-t-90">
                            <Label text="&#xf0e0; E-mail" class="fas label-text"></Label>
                            <Label keyboardType="email" class="input" hint="Email"></Label>
                            </StackLayout>
                </GridLayout>
            </ScrollView>
</FlexboxLayout>

