<ActionBar title="Diário da Saúde" class="action-bar-per background-color-padrao">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" class="go-back" [nsRouterLink]="['/home']" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<StackLayout class="page">
    <StackLayout class="">
            <Label text="Em Desenvolvimento" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="card-status">
        <Label text="Em Desenvolvimento" textWrap="true"></Label>
        
    </StackLayout>
    <StackLayout class="card-calendario">
            <RadCalendar
            [eventSource]="calendarEvents"

            selectionMode="Single"
            viewMode="Month"
            transitionMode="Stack"
            locale="pt-BR"

            (dateSelected)="onDateSelected($event)"
            (dateDeselected)="onDateDeselected($event)"
            (navigatedToDate)="onNavigatedToDate($event)"
            (navigatingToDateStarted)="onNavigatingToDateStarted($event)"
            (viewModeChanged)="onViewModeChanged($event)"
            ></RadCalendar>
    </StackLayout>
    <StackLayout class="card-status">
            <Label text="Em Desenvolvimento" textWrap="true"></Label>
            
        </StackLayout>
   
</StackLayout>