<ActionBar title="Diário da Saúde" class="action-bar-per background-color-padrao">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" class="go-back" (tap)="goBack()" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<FlexboxLayout class="page">
    <Label class="title-question" text="Como está sua saúde neste momento?" textWrap="true"></Label>
    <StackLayout class="saude-diaria">
        <StackLayout class="bom" (tap)="redirectHome()">
            <Label text="&#xf118;" class="fas ico"></Label>
            <Label text="Estou bem" textWrap="true"></Label>            
        </StackLayout>
        <StackLayout class="ruim" (tap)="redirectPerguntas()">
            <Label text="&#xf119;" class="fas ico"></Label>
            <Label text="Estou mal" textWrap="true"></Label>  
        </StackLayout>
    </StackLayout>
</FlexboxLayout>

