
<FlexboxLayout class="page">
    <StackLayout class="form">
        <PreviousNextView>
            <ScrollView scrollBarIndicatorVisible="false" class="form scrolview m-t-30" orientation="vertical">
                <GridLayout rows="auto">
                    <GridLayout [formGroup]="formUser" row="0" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto">

                        <Label text="&#xf060;" style="font-size: 25em" class="fas m-t-16" row="0" clearHistory="true" [nsRouterLink]="['/login']" pageTransition="slideRight"></Label>
                        <Image width="150" class="logo m-b-30" row="0"  src="~/imagens/logo.png"></Image>

                        <StackLayout row="1" class="input-field m-t-30">
                            <TextField #email keyboardType="email" class="input" hint="Email" formControlName="email"
                                       (returnPress)="focusPassword()" [isEnabled]="!processing"
                            ></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.email !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.email !== undefined" [text]="formUserValidator.email[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="2" class="input-field">
                            <TextField #password class="input" [isEnabled]="!processing"
                                       hint="Senha" secure="true" formControlName="password"
                                       (returnPress)="focusNome()"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.password !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.password !== undefined" [text]="formUserValidator.password[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="3" class="input-field">
                            <TextField #name class="input" [isEnabled]="!processing" (returnPress)="focusCpf()"
                                       hint="Nome" formControlName="name"
                                       returnKeyType="done"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.name !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.name !== undefined" [text]="formUserValidator.name[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="4" class="input-field">
                            <InputMask #cpf class="input"
                                       [isEnabled]="!processing"
                                       (extractedValueChange)=onExtracaoValorAlterado($event)
                                       (returnPress)="focusDataNascimento()"
                                       mask="[000].[000].[000]-[00]"
                                       keyboardType="phone"
                                       hint="CPF"
                                       returnKeyType="next"></InputMask>

                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.cpf !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.cpf !== undefined" [text]="formUserValidator.cpf[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="5" class="input-field">
                            <InputMask #data_nascimento mask="[00]{/}[00]{/}[0000]"
                                       keyboardType="datetime"
                                       hint="Data de Nascimento"
                                       (extractedValueChange)=onExtracaoValorDN($event)
                                       class="input" [isEnabled]="!processing"></InputMask>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.data_nascimento !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.data_nascimento !== undefined" [text]="formUserValidator.data_nascimento[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="6" class="input-field">
                            <GridLayout rows="auto" columns="auto,auto">
                                <Label class="label-sexo" row="0" col="0" [text]="formUser.get('sexo').value"></Label>
                                <Switch class="m-l-28" row="0" col="1" checked="false" (checkedChange)="onChangeSexo($event)"></Switch>
                            </GridLayout>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.sexo !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.sexo !== undefined" [text]="formUserValidator.sexo[0]" class="label-error"></Label>
                        </StackLayout>
                        <ActivityIndicator class="activity-indicator" rowSpan="8" [busy]="processing"></ActivityIndicator>
                        <StackLayout row="7" class="input-field">
                            <TextField #cartao_sus keyboardType="number" class="input" [isEnabled]="!processing"
                                       hint="Cartão SUS" formControlName="cartao_sus"
                                       returnKeyType="next"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.cartao_sus !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.cartao_sus !== undefined" [text]="formUserValidator.cartao_sus[0]" class="label-error"></Label>
                        </StackLayout>
                        <Button row="8" text="Cadastrar-se" [isEnabled]="!processing"
                                (tap)="submit()" class="btn-cad m-t-20"></Button>
                    </GridLayout>

                    <!--                <GridLayout row="0" col="0" rowSpan="3" opacity="0" class="overlay" id="overGrid"></GridLayout>-->
                    <!--                <GridLayout row="0" col="0" rowSpan="3" rows="auto, auto, auto" colums="*,*" verticalAlignment="center" opacity="0" class="select-date" id="selectDate">-->
                    <!--                    <Label row="0" col="0" colSpan="2" text="Data de Nascimento?" class="title-select-date"></Label>-->
                    <!--                    <DatePicker row="1" col="0" colSpan="2" [(ngModel)]="date" (dateChange)="onDateChanged($event)" year="1990" month="1" day="1" [minDate]="minDate" [maxDate]="maxDate"></DatePicker>-->
                    <!--                    <Label #btn row="2" col="0" class="btn-second btn-cancel" text="Fechar" (tap)="onCloseSelectDate(true)"></Label>-->
                    <!--                    <Label #btn row="2" col="1" class="btn-second" text="Ok" (tap)="onCloseSelectDate(false)"></Label>-->
                    <!--                </GridLayout>-->
                </GridLayout>
            </ScrollView>
        </PreviousNextView>
    </StackLayout>
</FlexboxLayout>
