
<FlexboxLayout class="page">
    <StackLayout class="form">
        <PreviousNextView>
            <ScrollView scrollBarIndicatorVisible="false" class="form scrolview m-t-30" orientation="vertical">
                <GridLayout rows="auto">
                    <GridLayout row="0" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto">

                        <Label text="&#xf060;" style="font-size: 25em" class="fas m-t-16" row="0" clearHistory="true" [nsRouterLink]="['/login']" pageTransition="slideRight"></Label>
                        <Image width="60%" class="logo m-b-30" row="0"  src="~/imagens/logo-login.png"></Image>

                        <StackLayout row="1" class="input-field m-t-30">
                            <Label text="&#xf0e0; E-mail" class="fas label-text"></Label>
                            <TextField #email keyboardType="email" class="input" hint="example@example.com" [(ngModel)]="user.email"
                                       (returnPress)="focusPassword()" [isEnabled]="!processing"
                            ></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.email !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.email !== undefined" [text]="formUserValidator.email[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="2" class="input-field">
                            <Label class="fas label-text" text="&#xf084; Senha" textWrap="true"></Label>
                            <TextField #password class="input" hint="xxxxxx" [isEnabled]="!processing" secure="true" [(ngModel)]="user.password"
                                       (returnPress)="focusNome()"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.password !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.password !== undefined" [text]="formUserValidator.password[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="3" class="input-field">
                            <Label text="&#xf5b7; Nome Completo" class="fas label-text"></Label>
                            <TextField #name class="input" hint="Vinnicyus Carvalho" [isEnabled]="!processing" (returnPress)="focusCpf()" [(ngModel)]="user.name"
                                       returnKeyType="done"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.name !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.name !== undefined" [text]="formUserValidator.name[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="4" class="input-field">
                            <Label text="&#xf47f; CPF" class="fas label-text"></Label>
                            <InputMask #cpf class="input"
                                       hint="000.000.000-00"
                                       [isEnabled]="!processing"
                                       [(ngModel)]="user.cpf"
                                       (extractedValueChange)=onExtracaoValorAlterado($event)
                                       mask="[000].[000].[000]-[00]"
                                       keyboardType="phone"
                                       returnKeyType="next"></InputMask>


                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.cpf !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.cpf !== undefined" [text]="formUserValidator.cpf[0]" class="label-error"></Label>
                        </StackLayout>
                        <ActivityIndicator class="activity-indicator" rowSpan="8" [busy]="processing"></ActivityIndicator>
                        <StackLayout row="7" class="input-field">
                            <Label text="&#xf2c2; Cartão SUS" class="fas label-text"></Label>
                            <TextField #cartao_sus keyboardType="number" class="input" [isEnabled]="!processing"
                                       [(ngModel)]="user.cartao_sus"
                                       hint="000000000000"
                                       returnKeyType="next"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.cartao_sus !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.cartao_sus !== undefined" [text]="formUserValidator.cartao_sus[0]" class="label-error"></Label>
                        </StackLayout>
                        <Button row="8" text="Cadastrar-se" [isEnabled]="!processing"
                                (tap)="submit()" class="btn-cad m-t-20"></Button>
                    </GridLayout>
                </GridLayout>
            </ScrollView>
        </PreviousNextView>
    </StackLayout>
</FlexboxLayout>
