/* Add mobile styles for the component here.  */
.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.background-color-padrao {
    color: #FFF;
}
/* 
.description-label{
    margin-bottom: 15;
} */

.btn-primary {
    margin: 30 5 15 5;
    background-color: #D51A1A;
}

.perguntas-content {
    margin-bottom: 30px; 
    margin-left: 10px; 
    margin-right: 10px; 
    background-color: #f6f8fa; 
    padding: 10px;
}

.grid-perguntas {
    margin-top: 40px; 
    padding: 5px;
}

.categoria-perguntas {
    text-align: center; 
    font-size: 20px; 
    width: 100%;
}

.opcoes-perguntas {
    background-color: white;
}