/* Add mobile styles for the component here.  */
.page {
    align-items: center;
    flex-direction: column;
    margin-top: 5%;

}
.form {
    background-color: #fff;
    margin-left: 20;
    margin-right: 20;
    flex-grow: 2;
    vertical-align: middle;
}
.scrolview{
    width: 100%;
    height: 100%;
}
.alter-user{
    color: blue;
}
.m-t-90{
    margin-top: 90px;
}
.label-error{
    color: #D51A1A;
}
.divider{
    height: 65;
    background-color: #fff;
}

.btn-sair{
    background-color: #fff;
    margin: auto;
    font-weight: 600;
    font-size: 16em;

}
.text-btn-def{
    padding: 10;
    width: 100%;
}

.text-btn-border{
    border-color: #e8e7e7;
    border-bottom-width: 1;
}

.reload{
    font-size: 60em;
    color: #c0c0c0;
    margin-top: 200;
    margin-left: 150;
}
.reload-text{
    color: #c0c0c0;
    margin-top: 280;
    margin-left: 10;
}

.label-text{
    padding: 0 0 10 10;
}
.btn-edit-user{
    background-color: #5cb85c;
    color: white;
}
