/* Add mobile styles for the component here.  */
.page{
    align-items: center;
    flex-direction: column;
}
.form {
    margin-left: 20;
    margin-right: 20;
    flex-grow: 2;
    vertical-align: middle;
}
.scrolview{
    width: 100%;
    height: 100%;
}
.alter-user{
    margin-left: 85%;
    margin-bottom: 20;
    color: blue;
    font-weight: 400;
    font-size: 16pt;
}
.m-t-90{
    margin-top: 90px;
}
.label-error{
    color: #D51A1A;
}
.divider{
    height: 10;
}

.btn-sair{
    color: #b72806;
    background-color: #e8e7e7;
    margin: auto;
    font-weight: 600;
    text-align: center;
    font-size: 16em;
}
.text-btn-sair{
    padding: 10 0 10 0;
}
