<ActionBar title="Locais de Risco" class="action-bar-per background-color-padrao">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" class="go-back" [nsRouterLink]="['/home']" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<ScrollView backgroundColor="#e8e7e7" scrollBarIndicatorVisible="false">
    <FlexboxLayout flexDirection="column" class="owe-list body-uni"
                   backgroundColor="#e8e7e7">
        <Label *ngIf="dados.length == 0" text="Não foi possivel encontrar nada!"></Label>
        <StackLayout *ngFor="let dado of dados" id="item1" orientation="vertical" class="owe-list-item"
                     width="100%" >
            <GridLayout columns="auto, *, auto" rows="auto"
                        width="100%" height="auto" class="owe-main-info"
                        verticalAlignment="top" >
                <Image row="0" col="0" [src]="dado.imagens[0]"
                       class="owe-category-icon" (tap)="showImage(dado)"></Image>
                <StackLayout row="0" col="1" orientation="vertical"
                             class="owe-info-container">
                    <Label class="owe-title" [text]="dado.nome"></Label>
                    <GridLayout columns="auto,auto"
                                rows="auto, auto" width="100%">
                        <Label [text]="dado.endereco" class="lender-bairro" row="0" col="0"></Label>
                        <Label [text]="dado.bairro" class="lender-name"
                               row="1" col="0"></Label>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
            <GridLayout columns="auto,auto, *, auto" rows="auto"
                        width="100%" height="auto" class="owe-secondary-info">
                <Button text="&#xf3c5;  Localização" class="btn fas location" (tap)="onNavigate(dado.localizacao)" ></Button>
                <GridLayout row="0" col="3" columns="auto, auto, auto"
                            rows="auto">
                    <Label row="0" col="1" [text]="dado.created_at | date:'dd/MM/yyyy H:m'" class="lender-bairro"></Label>
                </GridLayout>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>
