/* Add mobile styles for the component here.  */
.body-uni{
    margin-top: 10;
}
.owe-list-item {
    background-color: white;
    border-radius: 15;
    margin: 15;
}

.owe-list {
    /*margin: 15 15 15 15;*/
}

.owe-main-info {
    padding: 10 15;
}

.owe-category-icon {
    width: 45;
    height: 45;
    margin-right: 15;
}

.owe-info-container {
    color: #c0c0c0;
    font-weight: 300;
}

.owe-title {
    font-weight: 600;
    color: black;
}

.lender-name {
    font-size: 12em;
    font-weight: 500;
}
.lender-bairro {
    font-size: 12em;
    margin-top: 10%;
    font-weight: 500;

}

.owe-ammount {
    color: black;
}

.time-information {
    margin: 0;
}

.owe-secondary-info {
    padding: 10 10 10 13;
    border-top-width: 1;
    border-color: #e8e7e7;

}

.divider {
    height: 15;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.btn-color-location{
    background-color: #f8f9fa;
    color: #e64a45;
}
.btn-color-add{
    background-color: #e64a45;
    color: #FFFFFF;
}

.btn-design{

    font-size: 20em;
    width: 50;
    height: 50;
    padding: 0 0 0;
    border-radius: 50%;
}
.action-bar-per{
    color: white;
}
.go-back{
    color: white;
}
.add-btn {
    font-size: 13em;
    background-color: white;
    border-color: white;
    padding: 0 10 0 10;
    margin: 0;
    /*color: darkred;*/
    color: #b72806;
}
.btn-location{
    margin-top: 75%;
    margin-left: 83%;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dialogOpen .content {
    opacity: 0.2;
}
.dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.dialog-wrapper {
    visibility: collapse;
    opacity: 0;
}

.dialog {
    border-width: 1 0 1 0;
    border-color: black;
    background-color: white;
    width: 100%;
    margin-top: 100;
    padding: 20;
}
.dialog Label {
    margin: 0 15 15 15;
    color: black;
}


