<ActionBar title="Locais de Risco" class="action-bar-per background-color-padrao">
    <NavigationButton text="Voltar" icon="res://ic_arrow_back_black_24dp" class="go-back" [nsRouterLink]="['/home']" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<ScrollView backgroundColor="#f8f9fa" scrollBarIndicatorVisible="false">
    <FlexboxLayout flexDirection="column" class="owe-list body-uni" backgroundColor="#f8f9fa">
        <Label *ngIf="dados.length == 0" text="Não foi possivel encontrar nada!"></Label>
        <StackLayout shadow elevation="3" *ngFor="let dado of dados" orientation="vertical" class="owe-list-item"
                     width="90%">
            <GridLayout  columns="auto, *, auto" rows="auto"
                        width="100%" height="auto" class="owe-main-info"
                        verticalAlignment="top" >
                <Image row="0" col="0" [src]="dado.imagens[0]"
                       class="owe-category-icon" (tap)="showImage(dado)"></Image>
                <StackLayout row="0" col="1" orientation="vertical"
                             class="owe-info-container">
                    <Label class="owe-title" [text]="dado.descricao"></Label>
                    <GridLayout columns="auto,auto"
                                rows="auto, auto" width="100%">
                        <Label [text]="dado.endereco" class="lender-bairro" row="0" col="0"></Label>
                        <Label [text]="dado.bairro" class="lender-name"
                               row="1" col="0"></Label>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
            <GridLayout  columns="auto,auto, *, auto" rows="auto,auto"
                        width="100%" height="auto" class="owe-secondary-info">
                <Button text="&#xf3c5;" rowSpan="2" col="3" class="btn fas location color-padrao btn-design btn-color-location" (tap)="onNavigate(dado.localizacao)" ></Button>
                <Label row="0" col="0" [text]="dado.created_at | date:'dd MMMM yyyy'" class="lender-bairro"></Label>
                <Label row="1" col="0" [text]="dado.created_at | date:'H:m a'" class="lender-bairro"></Label>
            </GridLayout>
        </StackLayout>
        <Label class="divider" text=""></Label>
    </FlexboxLayout>
</ScrollView>
<AbsoluteLayout width="100%" height="100%">
    <StackLayout class="btn-location">
        <Button text="+" style="font-size: 35em;" class="btn-design btn-color-add" [nsRouterLink]="['/local-risco-add']" clearHistory="true" pageTransition="slideLeft"></Button>
    </StackLayout>
</AbsoluteLayout>
