/* Add mobile styles for the component here.  */
.action-bar-per{
    color: #FFFFFF;
}

.btn-color-add{
    background-color: #e64a45;
    color: #FFFFFF;
}

.btn-design{
    font-size: 20em;
    padding: 0 0 0;
    border-radius: 50%;
}
.message{
    border-radius: 10;
    margin-top: 70%;
}
.text-message{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13pt;
    margin: 5;
}
