/* Add mobile styles for the component here.  */
.action-bar-per{
    color: #FFFFFF;
}

.btn-color-add{
    background-color: #5cb85c;
    color: #FFFFFF;
}

.btn-design{
    font-size: 20em;
    padding: 0 0 0;
    border-radius: 50%;
}
.message{
    border-radius: 10;
    margin-top: 70%;
}
.text-message{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13pt;
    margin: 5;
}

.espacamento-label-text{
    margin-left: 15;
    margin-right: 15;
}
.label-error{
    color: #D51A1A;
    font-weight: 600;
}
.linha-error{
    background-color: #D51A1A;
}
