<GridLayout rows="auto,auto" class="home-page">
    <FlexboxLayout row="0" class="home-page-content">
        <GridLayout rows="auto, auto">
            <GridLayout rows="auto, auto" row="0">
                <Image row="0" class="logo" src="~/imagens/logo.png"></Image>
                <Label row="1" text="Ola Vinnicyus" class="name_user"></Label>
            </GridLayout>
            <StackLayout row="1" class="frame-banner">

            </StackLayout>
        </GridLayout>
    </FlexboxLayout>
        <ScrollView row="1" scrollBarIndicatorVisible="false" orientation="horizontal" >
            <GridLayout columns="*, *, *, *, *, *, *" class="bottom-navigation">

                <GridLayout [nsRouterLink]="['/diario']" pageTransition="slideLeft"  col="0" rows="auto, *, auto" class="bottom-navigation-item" >
                    <Label row="0" text="&#xeec1;" class="fab"></Label>
                    <Label row="2" text="Meu Diario" class="label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/visualizacao']" pageTransition="slideLeft" [queryParams]="{type: 'F', title: 'Farmácias'}" col="1" rows="auto, *, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xe9ad;" class="icon"></Label>
                    <Label row="2" text="Farmacias" class="label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/visualizacao']" pageTransition="slideLeft" [queryParams]="{type: 'H', title: 'Hospitais'}" col="2" rows="auto, *, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xea15;" class="icon"></Label>
                    <Label row="2
" text="Hospitais" class="label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/visualizacao']" pageTransition="slideLeft" [queryParams]="{type: 'U',title: 'Unidades Basica de Saúde ( UBS )'}" col="3" rows="auto,*, auto, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xea15;" class="icon"></Label>
                    <Label row="2" text="Unidades" class="label"></Label>
                    <Label row="3" text="de Saúde" class="label"></Label>
                </GridLayout>

                <GridLayout col="4" rows="auto, *, auto" class="bottom-navigation-item" [nsRouterLink]="['/putuser']" pageTransitionDuration="1000" pageTransition="slideLeft">
                    <Label row="0" text="&#xea15;" class="icon"></Label>
                    <Label row="2" text="Perfil" class="label"></Label>
                </GridLayout>

            </GridLayout>
        </ScrollView>
</GridLayout>
