<GridLayout rows="auto, *, auto" class="home-page">
    <!--    <FlexboxLayout class="home-page-content" verticalAlignment="top">-->
    <GridLayout rows="auto, auto" row="0" style="margin-top: 6%;">
        <Image row="0" class="logo" src="~/imagens/logo.png"></Image>
    </GridLayout>
    <StackLayout row="1" style="margin-top: 5%">
        <GridLayout (swipe)="onSwipe($event)">
            <GridLayout rows="6*, *">
                <GridLayout row="0" rows="*" >
                    <ContentView #slideContent row="0" id="slide-content">
                        <GridLayout row="0" rows="*">
                            <Label class="opensans-semi-bold carousel-loading " text="Loading..." textWrap="true"></Label>
                        </GridLayout>
                    </ContentView>
                </GridLayout>
                <GridLayout row="2" rows="*" columns="*, auto, *" id="carousel-slider" class="m-t-10">
                    <StackLayout [ngClass]="getSliderItemClass(0)" verticalAlignment="top" col="0" horizontalAlignment="right"></StackLayout>
                    <StackLayout [ngClass]="getSliderItemClass(1)" style="margin: 0 5" verticalAlignment="top" col="1" horizontalAlignment="center"></StackLayout>
                    <StackLayout [ngClass]="getSliderItemClass(2)" verticalAlignment="top" col="2" horizontalAlignment="left"></StackLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </StackLayout>
    <!--    </FlexboxLayout>-->
    <StackLayout row="2" style="margin-bottom: 3.5%;">
        <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
            <GridLayout columns="*, *, *, *, *, *, *" class="bottom-navigation">

                <GridLayout [nsRouterLink]="['/diario-saude-detalhes']" pageTransition="slideLeft"  col="0" rows="auto, *, auto, auto" class="bottom-navigation-item" >
                    <Label row="0" text="calendar" class="icon icon-design"></Label>
                    <Label row="2" text="Minha" class="label"></Label>
                    <Label row="3" text="Saúde" class="label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/localrisco']" pageTransition="slideLeft" col="1" rows="auto, *, auto, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xf48e;" class="fas icon-design"></Label>
                    <Label row="2" text="Locais" class="label "></Label>
                    <Label row="3" text="de Risco" class="label font-label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/visualizacao']" pageTransition="slideLeft" [queryParams]="{type: 'H', title: 'Hospitais'}" col="2" rows="auto, *, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xf0f8;" class="fas icon-design"></Label>
                    <Label row="2
" text="Hospitais" class="label"></Label>
                </GridLayout>

                <GridLayout [nsRouterLink]="['/visualizacao']" pageTransition="slideLeft" [queryParams]="{type: 'U',title: 'Unidades Básicas de Saúde - UBS '}" col="3" rows="auto,*, auto, auto" class="bottom-navigation-item">
                    <Label row="0" text="&#xf469;" class="fas icon-design"></Label>
                    <Label row="2" text="Unidades" class="label"></Label>
                    <Label row="3" text="de Saúde" class="label"></Label>
                </GridLayout>

                <GridLayout col="4" rows="auto, *, auto" class="bottom-navigation-item" [nsRouterLink]="['/putuser']" pageTransitionDuration="1000" pageTransition="slideLeft">
                    <Label row="0" text="&#xf2bd;" class="fas icon-design"></Label>
                    <Label row="2" text="Perfil" class="label"></Label>
                </GridLayout>

            </GridLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>
